@import '../../styles/break-points.scss';

.blockColor {
    display: flex;
    flex-wrap: wrap;
    height: 96px;
    width: 287px;
    margin-left: 25px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

    .itemColor {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        margin: 5px;
    
        &:hover{
            border: 2px solid #000000;
            cursor: pointer;
        }
    }

}

@include laptop {
    .blockColor{
        width: 574px;
        height: 47px;
    }
}