@import '../../styles/break-points.scss';

.categories{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 12px;
}

.home_area{
    width: 390px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

@include tablet {
    .home_area {
        background-color:aqua;
    }
}

@include laptop {

}

@include desktop {

}

@include desktop-large {

}