@import '../../styles/break-points.scss';

.header {
    background-color: #FFFFFF;
    box-shadow: 0 1px 7px 0 rgba(149, 149, 149, 0.25);
    margin-bottom: 25.06px;

    .container {
        margin: auto;
        height: 57px;
        width: calc(100vw - 20px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_left {
            display: flex;

            .logo {
                display: flex;
                align-items: center;
                margin-right: 10px;

                img {
                    width: 29.7px;
                    height: 29.7px;
                }

                span {
                    font-size: 11.45px;
                    color: #455A64;
                    font-weight: 400;
                    margin-left: 5px;
                }
            }

            .search {

                .search_input {
                    width: 160px;
                    height: 28px;
                    border: 1px solid #D9D9D9;
                    border-radius: 3px;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
                    outline: 0;
                    padding: 9px;
                    background-image: url('../../img/search.png');
                    background-repeat: no-repeat;
                    background-position: 136px center;
                }

                input::placeholder {
                    font-size: 9px;
                    color: #9A9A9A;
                }
            }

            .filter_color_select {
                height: 28px;
                width: 40px;
                margin-left: 10px;
                border: 1px solid #D9D9D9;
            }
        }
    }

    .button_close {
        width: 13.14px;
        height: 13.14px;

        &:hover {
            cursor: pointer;
        }
    }
}

@include mobile {
    .container {

        .header_left {

            .logo {
                margin-right: 19.85px;

                span {
                    margin-left: 14.51px;
                }
            }

            .search .search_input {
                width: 200px;
                background-position: 176px center;
            }
        }
    }
}

@include tablet {
    .header .container {
        width: calc(100vw - 48px);

        .header_left .search .search_input {
            width: 314px;
            background-position: 290px center;
        }

        input::placeholder {
            font-size: 12px;
        }
    }
}

@include laptop {
    .header .container {
        width: calc(100vw - 72px);

        .header_left {
            .logo {
                img {
                    width: 36px;
                    height: 36px;
                }

                span {
                    font-size: 14px;
                }
            }

            .search .search_input {
                width: 360px;
                background-position: 326px center;
            }
        }
    }
}

@include desktop {
    .header .container .header_left .search .search_input {
        width: 530px;
        background-position: 506px center;
    }
}