@import '../../styles/break-points.scss';

.header {
    background-color: #FFFFFF;
    box-shadow: 0 1px 7px 0 rgba(149, 149, 149, 0.25);
    margin-bottom: 25.06px;

    .container {
        margin: auto;
        height: 57px;
        width: calc(100vw - 20px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_left {
            display: flex;

            .logo {
                display: flex;
                align-items: center;
                margin-right: 10px;

                img {
                    width: 29.7px;
                    height: 29.7px;
                }

                span {
                    font-size: 11.45px;
                    color: #455A64;
                    font-weight: 400;
                    margin-left: 5px;
                }
            }
        }

        .button_close {
            width: 13.14px;
            height: 13.14px;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

@include mobile {
    .container {

        .header_left {

            .logo {
                margin-right: 19.85px;

                span {
                    margin-left: 14.51px;
                }
            }
        }
    }
}

@include tablet {
    .header .container {
        width: calc(100vw - 48px);
    }
}

@include laptop {
    .header .container {
        width: calc(100vw - 72px);

        .header_left {
            .logo {
                img {
                    width: 36px;
                    height: 36px;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
}