$mobile-size: 410px;
$tablet-size: 578px;
$laptop-size: 820px;
$desktop-size: 1250px;

@mixin mobile {
  @media screen and (min-width: #{$mobile-size}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-size}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$laptop-size}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-size}) {
    @content;
  }
}